@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}

body {
   font-size: 1.4rem;
}
  .container {
    max-width: 130rem;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
  header {
    background: var(--lighting-color);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  nav ul {
    display: flex;
    gap: 1rem;
  }
  nav li {
    font-size: 2rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    padding: 1rem;
  }
  nav li:hover {
    border-bottom: 0.4rem var(--secondary-color) solid;
    transition: 0.3s ease-in-out;
  }
  .logo {
    display: flex;
    font-size: rem;
    font-weight: 700;
  }
  #home {
     background: var(--dark-color);
     padding: 4rem 0;
     border-bottom: 0.4rem solid var(--lighting-color);
     
  }
  #home .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 
  .home_content {
    display: grid;
    place-items: center;
  }
  .homey_content{
    display: grid;
  }
  #home h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .hi {
      font-size: 6rem;
      font-weight: bold;
      color: var(--secondary-color);
  }
  .med{
    font-size:  4rem;
    color: var(--secondary-color);
  }
  .your {
    font-size: 5rem;
  }
  #home h3{
    font-size: 3rem;
    font-weight: bold;
  }
  #home h2{
    font-size: 3rem;
    font-weight: bold;
  }
  #home h2 {
    font-size: 3rem;
    font-weight: bold;
  
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15rem solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 55%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  /* prescription */

  #prescription {
    background: var(--darker-color);
    padding: 4rem 0;
    border-bottom: 0.4rem solid var(--lighting-color);
    
    
 }
 #prescription  .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
} 
.prescription_form {
  width: 50rem;
  height: 75rem;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  box-sizing: border-box 5rem;
  background-color: var(--dark-color);
  padding: 1rem 2rem 2rem 2rem;
  border:0.1rem solid var(--lighting-color);
  border-radius: 0.8rem;
  
}
input[type='text'],
input[type='number'],
select,
textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--lighting-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.prescription_image{
  display: grid;
  place-items: center;
}
input[type='submit']{
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  background: var(--secondary-color);
  width: 80%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darker-color);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-top: 2rem;
}
.button{
  display: flex;
  justify-content: center;
  
} 
input[type='submit']:hover{
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.temp{
  display: flex;
  justify-content: space-between;
   
}
.temp2{
  display: flex;
  justify-content: space-evenly;

}
.p0{
  font-size: 1.5rem;
  
  }
.p1{
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}
.p2{
  font-size: 6rem;
  font-weight: bold;
  padding: 1rem;
}
.p3{
  font-size: 3rem;
  
  padding: 0rem;
}
.p4{
  font-size: 3rem;
  color: var(--secondary-color);
} 

  /*consultance*/
  #consultance {
    background: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 0.4rem solid var(--lighting-color);
    
 }
 #consultance .container {
   display: flex;
   justify-content: space-around;
   align-items: center;
 } 
 .consultance_content {
   display: grid;
   place-items: center;
 }
 #consultance h1 {
   font-size: 3rem;
   font-weight: bold;
 }
 .hi {
     font-size: 6rem;
     font-weight: bold;
     color: var(--secondary-color);
 }
 .med{
   font-size:  4rem;
   color: var(--secondary-color);
 }
 .your {
   font-size: 5rem;
 }
 #consultance h3{
   font-size: 3rem;
   font-weight: bold;
 }
 /*consultance2*/
 #consultance2 {
  background: var(--darker-color);
  padding: 4rem 0;
  border-bottom: 0.4rem solid var(--lighting-color);
  
  
}
#consultance2  .container {
display: flex;
justify-content: space-around;
align-items: center;
padding: 5rem;
} 
.consultance_form {
width: 50rem;
height: 50rem;
font-size: 1.5rem;
display: grid;
place-items: center;
box-sizing: border-box 5rem;
background-color: var(--dark-color);
padding: 1rem 2rem 2rem 2rem;
border:1px solid var(--lighting-color);
border-radius: 0.8rem;

}
input[type='text'],
input[type='number'],
input[type='email'],
select,
textarea {
width: 100%;
padding: 1rem;
border: 0.1rem solid var(--lighting-color);
border-radius: 0.5rem;
font-size: 1.5rem;
}
.prescription_image{
display: grid;
place-items: center;
}
/* .button{
background-color: var(--lighting-color);
width: 100%;

padding: 1px 2px;

} */

.cemp{
display: flex;
justify-content: space-between;
 
}
.cemp2{
display: flex;
justify-content: space-evenly;

}
.c0{
font-size: 1.5rem;

}
.c1{
font-size: 3rem;
font-weight: bold;
padding: 1rem;
}
.c2{
font-size: 6rem;
font-weight: bold;
padding: 1rem;
}
.c3{
font-size: 3rem;

padding: 0rem;
}
.c4{
font-size: 3rem;
color: var(--secondary-color);
} 

button{
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  background: var(--secondary-color);
  width: 80%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darker-color);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-top: 2rem;
}
.button{
  display: flex;
  justify-content: center;
  
} 
button:hover{
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*blogs*/

#blogs {
  background: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--lighting-color);
  
}
#blogs .container {
 
 justify-content: space-around;
 align-items: center;
 padding: 5rem;
} 
.blogs_content {
 display: grid;
 place-items: center;
}
#blogs h1 {
 font-size: 3rem;
 font-weight: bold;
}
.hi {
   font-size: 6rem;
   font-weight: bold;
   color: var(--secondary-color);
}
.med{
 font-size:  4rem;
 color: var(--secondary-color);
}
.med2{
  font-size:  2rem;
  font-weight: bold;
  color: var(--secondary-color);
 }
.your {
 font-size: 5rem;
}
#blogs h4{
 font-size: 2rem;
}
#blogs h3{
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  
}
footer{
  background: var(--darker-color);
  padding: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 786px){
  html{
    font-size: 40%;
  }
  #home .container{
    flex-direction: column;
  }
  .home_image{
    display: grid;
    place-items: center;
  }
  #prescription .container{
    flex-direction: column;
  }
  .prescription_image{
    display: grid;
    place-items: center;
  }
  #consultance .container{
    flex-direction: column;
  }
  .consultance_image{
    display: grid;
    place-items: center;
  }
  #consultance2 .container{
    flex-direction: column;
  }
  .consultance2_image{
    display: grid;
    place-items: center;
  }
  #blogs .container{
    flex-direction: column;
  }
  .blogs_image{
    display: grid;
    place-items: center;
  }
}
@media (max-width: 500px) {
  html{
    font-size: 32%;
  }
  #home .container{
    flex-direction: column;
  }
  .home_image{
    display: grid;
    place-items: center;
  }
  #prescription .container{
    flex-direction: column;
  }
  .prescription_image{
    display: grid;
    place-items: center;
  }
  #consultance .container{
    flex-direction: column;
  }
  .consultance_image{
    display: grid;
    place-items: center;
  }
  #consultance2 .container{
    flex-direction: column;
  }
  .consultance2_image{
    display: grid;
    place-items: center;
  }
  #blogs .container{
    flex-direction: column;
  }
  .blogs_image{
    display: grid;
    place-items: center;
  }
}